
@{
    ViewBag.Title = "Акции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-md section-bordered">
    <div class="container">
        <h1>Акция!</h1>
        <h3>16.05.2016</h3>
        <p>Специальное предложение для клиентов СТО. При покупке расходных материалов на станции технического обслуживания &#171;AirMotors&#187;, Вы получаете:</p>
        <ul>
            <li><a href="~/Services/ZamenaMasla/">замена масла</a> &#8212; 5 рублей;</li>
            <li><a href="~/Services/DiagnostikaPodveski/">диагностика (осмотр) подвески</a> &#8212; бесплатно.</li>
        </ul>

    </div>
</section>


