@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "СТО \"AirMotors\"";
}

<section id="header-slide">
    <div class="wrapper">
        <div class="container section-lg">
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <h1>Услуги автосервиса</h1>
                        <p>Развал-схождение 3D, компьютерная диагностика, диагностика и ремонт подвески, ремонт электрических систем, тормозной системы, шиномонтаж, замена технических жидкостей и другие услуги обслуживания автомобиля в Малиновке.</p>
                        <ul class="list-unstyled">
                            <li><a href="tel:+375296163163"><span>+375 29</span> 336-18-06</a></li>
                            <li><a href="tel:+375336367367"><span>+375 33</span> 336-18-06</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li><a href="/Services" class="btn-q">Все услуги</a></li>
                            <li><a href="/contacts" class="btn-q-invert">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 visible-md visible-lg">
                    <img src="~/img/BMW-E82.png" class="img-responsive" alt="Услуги автосервиса в Минске" draggable="false">
                </div>
                <!--<div class="hs-tel">
        <ul class="list-inline">
            <li><span>+375 (29) </span>336-18-06</li>
            <li><span>+375 (33) </span>336-18-06</li>
        </ul>
    </div>-->
            </div>
        </div>
        <div class="wrapper">
            <div class="lock-off"></div>
            <div id="header-uslugi">
                <div class="container section-md">
                    <div class="row">
                        <div class="menu-sidemenu-container">
                            <ul id="menu-sidemenu" class="list-unstyled">
                                <li class="col-md-4 usluga">
                                    <h3>Диагностика и контроль</h3>
                                    <ul class="sub-menu">
                                        <li><a href="~/Services/diagnostikatormozov/">Диагностика тормозной системы</a></li>
                                        <li><a href="~/Services/DiagnostikaPodveski/">Диагностика подвески</a></li>
                                        <li><a href="~/Services/CompDiagnostika/">Компьютерная диагностика</a></li>
                                        <li><a href="~/Services/RazvalShozhdenie/">Развал-схождение 3D</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-4 usluga">
                                    <h3>Ремонт и замена элементов</h3>
                                    <ul class="sub-menu">
                                        <li><a href="~/Services/RemontRulya/">Ремонт рулевого управления</a></li>
                                        <li><a href="~/Services/RemontTormozov/">Ремонт тормозной системы</a></li>
                                        <li><a href="~/Services/RemontPodveski/">Ремонт подвески</a></li>
                                        <li><a href="~/Services/RemontKpp/">Ремонт или замена коробок передач (КПП, АКПП)</a></li>
                                        <li><a href="~/Services/RemontDvs/">Ремонт или замена двигателя внутреннего сгорания</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-4 usluga">
                                    <h3>Техническое обслуживание</h3>
                                    <ul class="sub-menu">
                                        <li><a href="~/Services/ZamenaMasla/">Замена масла и других технических жидкостей</a></li>
                                        <li><a href="~/Services/ZamenaFiltrov/">Замена фильтров в автомобиле</a></li>
                                        <li><a href="~/Services/Shinomontazh/">Шиномонтаж</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-shadow"></div>
</section>
<section id="benefits" class="section-lg-text section-light-gray section-bordered">
    <div class="img-wrapper">
        <img src="~/img/benefits-img-min.png" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="benefit">
                    <h3>Новейшее оборудование</h3>
                    <p>Все работы на станции технического обслуживания ведутся с использованием современного оборудования американского и немецкого производителей</p>
                </div>
                <div class="benefit">
                    <h3>Качественное обслуживание</h3>
                    <p>На СТО «AirMotors» работают только высококвалифицированные специалисты с богатым опытом в сфере оказания услуг автосервиса</p>
                </div>
                <div class="benefit">
                    <h3>Доступные цены на услуги</h3>
                    <p>Несмотря на инновационное оборудование и отличный сервис, цены на услуги СТО не превышают рыночные цены по Минску и остаются средними</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main-content" class="section-lg-text">
    <div class="img-wrapper">
        <img src="~/img/main-content-img.png" class="img-responsive" draggable="false" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <!--Content-->
                <h2>СТО &#171;AirMotors&#187; в Малиновке</h2>
                <p>AirMotors &#8212; новая станция технического обслуживания, которая расположена в городе Минск в районе Малиновка. Станция оснащена пятью постами с новейшим импортным оборудованием. Это позволяет быстро и качественно решать многопрофильные задачи по диагностике, техническому обслуживанию и ремонту с заменой элементов автомобилей.</p>
                <p>На СТО «AirMotors» работают только высококвалифицированные мастера с большим опытом работы, прошедшие профессиональную подготовоку в Московском филиале американской компании «Hunter Engineering Company» для работы с инновационным оборудованием, которое не имеет аналогов ни в Минске, ни во всей Беларуси.</p>
                <p>В здании СТО также распологается автомойка автомобилей и кафе со всеми удобствами, включающее многоканальное телевидение и возможность подключения к Интернету (Wi-fi).</p>
                <p><a class="btn-q" href="/about">О компании</a></p>
            </div>
        </div>
    </div>
</section>


