@using Diplom1.Models
@model Diplom1.Models.Order

@{
    ViewBag.Title = "Создать нового пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать нового пользователя</h2>

@using (Html.BeginForm())
{
}

