@using Diplom1.Helper
@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dd><span>Понедельник-воскресенье:</span> 9:00-19:00</dd>
                    <dd>без выходных</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd class="tel"><span>+375 29</span> 336-18-06</dd>
                    <dd class="tel"><span>+375 33</span> 336-18-06</dd>
                    <dd><a href="mailto:sto-gam@mail.ru">sto-gam@mail.ru</a></dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>Малиновка, 27-ой километр МКАД</dd>
                    <dd>съезд к АЗС №24 "Газпромнефть"</dd>
                    <dd>СТО "AirMotors"</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section class="section-lg section-bordered">
    <div class="container">
        <a href="http://vsesto.by" title="СТО Минска, ремонт автомобилей"><h4><img src="http://www.vsesto.by/images/logo_s5.jpg" alt="СТО Минска, ремонт автомобилей"> - Все СТО Минска и Беларуси, автосервисы, фирмы занимающиеся ремонтом автомобилей.</h4></a>
    </div>
</section>
<section class="section-lg section-light-gray">
    <div class="container">
        <div class="row">
            <div id="rekviz" class="col-md-7">
                <h2>Реквизиты компании</h2>
                <dl>
                    <dd><span>Частное торгово-сервисное унитарное предприятие</span> "AirMotors"</dd>
                    <dd><span>Юридический адрес:</span> 223049, Минская область, Минский район,</dd>
                    <dd>Щомыслицкий с/с, район деревни Дворицкая Слобода, д. 52, помещение 2.</dd>
                    <dd><span>УНП</span> 691790805</dd>
                    <dd><span>Расчетный счет:</span> 3012037717016</dd>
                    <dd>ЦБУ 119 "Приорбанк" ОАО, г. Минск, код 749</dd>
                    <dd><span>Адрес банка:</span> 220116 г. Минск, пр-т Дзержинского, 104</dd>
                    <dd>
                        <a href="img/svidetelstvo.png" class="fancybox">Свидетельство о государственной регистрации</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-5">
                <img src="http://www.sto-gam.by/wp-content/themes/GranatAutoM/img/vizitka.png" alt="AirMotors в Минске" draggable="false" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.6152736293143!2d27.590053916160045!3d53.920812180103425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf09daf34e8d%3A0xcbb32cf64390de84!2z0JPQu9Cw0LLQvdGL0Lkg0LouINCR0J3QotCjLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1558610886947!5m2!1sru!2sby"
                height="600" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
    </div>

</section>

