@using Diplom1.Helper
@{
    ViewBag.Title = "Компьютерная диагностика";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2 style="text-align: justify;">Зачем нужна компьютерная диагностика?</h2>
    <p>В 21 веке практически каждый автомобиль оснащен бортовым компьютером, который в полной или частичной мере управляет всеми системами и агрегатами вашего автомобиля.
     Бортовой компьютер оповещает водителя о наличии какой-либо неисправности в системах автомобиля, и если вовремя не обнаружить оповещение и не наладить работу неисправной
     системы, бортовой компьютер отрегулирует ее работу на определенном уровне, после чего невозможно будет изменить показатели системы с помощью электроники, и потребуется 
    замена механических элементов, что доставляет неудобства в виде дополнительных затрат на обслуживание автомобиля. Компьютерная диагностика может предотвратить данный процесс, 
    вовремя выявить и отобразить проблему, а также сэкономить автовладельцу деньги на замену составляющих, что делает услуги компьютерной диагностики востребованными.</p>
    <p>Если у вас горит лампочка тормозной системы, двигателя и пр., то вам необходимо обратиться к специалистам станции технического обслуживания для проведения компьютерной 
    диагностики. Компьютерная диагностика систем автомобиля &#8212; подключение программного обеспечения компьютера к электронным блокам бортового компьютера, управляющего 
    системами автомобиля, и отображение на экран всех данных о работе систем автомобиля, проанализировав которые, можно принять решение о последующих действиях по устранению
     той или иной проблемы.</p>
    <h2>Компьютерная диагностика позволяет:</h2>
    <ul>
        <li style="text-align: justify;">отобразить параметры и показатели работы двигателя и  изменить их при необходимости, для достижения улучшения тех или иных показателей;</li>
        <li style="text-align: justify;">определить и отобразить ошибки и несоответствия работы датчиков, которые могут блокировать определенные процессы и даже целые системы автомобиля;</li>
        <li style="text-align: justify;">проверить исправность системы электронного зажигания вашего автомобиля;</li>
        <li style="text-align: justify;">проверить работу системы коленчатого вала, от которой напрямую зависит качество сгорания топлива и смесеобразование;</li>
        <li style="text-align: justify;">проверить и отобразить состояние электрооборудования и ходовой части автомобиля;</li>
    </ul>
    <h2>Диагностика двигателей</h2>
    <p>Мы проводим диагностику и ремонт всех бензиновых двигателей: инжекторных, моновпрыска и карбюраторных, а также полную настройку всех систем: CO и CH, расход бензина,
     регулировка систем зажигания <strong>с гарантией на все виды работ.</strong></p>
    <p>&nbsp;</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/komp1.jpg", "Компьютерная диагностика")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/komp2.jpg", "Компьютерная диагностика")
            </div>
        </div>
    </div>
    <p>Если вы заметили какие-либо неполадки в работе электронных систем вашего автомобиля, крайне важно обратиться к специалистам на станцию технического обслуживания, т.к. все 
    электрические системы тесно связаны с зависимыми от них агрегатами, что может привести к выходу из строя этих агрегатов. Именно поэтому важно своевременно диагностировать и 
    устранить неисправности в работе электронных систем и проводки.</p>
    <p>
        Профессионалы СТО &#171;AirMotors&#187; проводят диагностику всех электронных систем и устройств, а также проблемных зон электрических цепей. При определении неполадок,
        в зависимости от неполадок, может быть проведена <a href="~/Services/CompDiagnostika">компьютерная диагностика</a>: подключение специализированных
        устройств для сканирования работы электронных устройств и систем в целом и вывода на экран кодов ошибок для поиска решений проблемы. Когда проведена диагностика, все неисправности
        определены, а пути решений найдены, проводится ремонт или замена неисправных устройств электрической системы автомобиля.
    </p>
    <h2>Check engine / Проверьте двигатель</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/check-engine-light.jpg", "Проверьте двигатель на панели")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/check-engine.png", "Индикатор \"Проверьте двигатель\"")
            </div>
        </div>
    </div>
    <p>Частой проблемой, с которой сталкиваются автомобилисты, является загорание индикатора проверки двигателя (check). Бортовой компьютер передает информацию о наличии какой-либо
     неисправности в системе.</p>
</div>


