
@{
    ViewBag.Title = "Заправка, дезинфекция и обслуживание автокондиционеров";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <h2>Когда нужна заправка кондиционера в авто</h2>
    <p>Производители, как правило, рекомендует проводить её раз в 2 года. При том, что средний стандартный расход фреона в год составляет от 5 до 10%. Понятно, что это именно усредненное число. В реальности расход зависит от многих факторов. Иные автовладельцы могут годами ездить на одной заправке, а у других быстро возникает необходимость заправить автокондиционер.</p>
    <p>Хотим отметить, что даже при нехватке фреона кондиционер будет работать – но такую работу нельзя назвать удовлетворительной. Резко увеличиваются нагрузки, усиливается износ, реальной становится угроза серьезных поломок.</p>
    <p>
        Кондиционер без фреона – все равно, что двигатель без масла или гидроусилитель без жидкости. А ведь капительный ремонт или<br />
        замена кондиционера – удовольствие не из дешевых. Впрочем, избыток фреона – тоже проблема. Создается повышенное давление, нарушается режим работы компрессора и вентиляторов. Поломки и в таком случае становятся неизбежными. Таким образом, заправка автомобильных кондиционеров – серьезное и ответственное дело, при всей внешней простоте.
    </p>
    <p>Диагностику и заправку автокондиционера мы производим итальянским аппаратом TEXA, что обеспечивает высочайшую точность заправки (с откачкой и взвешиванием), замену масла, проверку на герметичность и добавление ультрафиолетовой добавки.</p>
    <h2>Дезинфекция автокондиционеров</h2>
    <p>Во время работы кондиционера на холодном испарителе конденсируется влага, к капелькам воды прилипает пыль, пыльца растений, и со временем на всей поверхности испарителя образуется налет.</p>
    <p>
        Когда кондиционер не работает, температура на его поверхности повышается, и в этой благоприятной среде активно размножаются разнообразные бактерии.<br />
        Избежать накопления плесени и грибков в автомобильном кондиционере практически невозможно, хотя были придуманы различные ухищрения, в виде различных фильтров, с применением ионизации и плазмы, а также антибактериальных материалов, из которых изготовлены испаритель и воздуховоды. Все эти вещи помогают бороться с неприятным запахом, но все-таки не позволят полностью отказаться от дезинфекции автомобильного кондиционера. Фильтры защищают от пыли, частично от дыма и запахов, но никак от вирусов и бактерий. Поскольку фильтры устанавливаются в зоне воздухозабора, то воздух, пройдя через них, очищается от пыли, но уже после этого заражается, проходя через внутренний испаритель и воздуховоды, где идет размножение бактерий, и беспрепятственно выходит наружу.<br />
        Исходя из вышесказанного, становится понятно, почему одним из важнейших этапов по уходу за кондиционером, является не только его дезинфекция, но и своевременная заправка.
    </p>
    <p>
        Для осуществления этой услуги мы используем установку для дезинфекции всех систем кондиционирования Texa AIR+.<br />
        AIR+ является профессиональным прибором, основанном на принципе ультразвукового распыления. Он создает мельчайший туман реагента внутри транспортного средства, обеспечивая эффективную очистку и антибактериальную обработку системы профессиональным составом, препятствующим появлению микроорганизмов в течение года.
    </p>
    <h3>Дезинфекция автокондиционера проводится следующим образом:</h3>
    <p>Устройство AIR+ устанавливаем внутри автомобиля и запускаем систему кондиционирования транспортного средства в режиме рециркуляции. Санифицирующий раствор, распыляемый AIR+, всасывается в систему кондиционирования воздуха и достигает испарителя системы, где уничтожает грибки, бактерии и отложения грязи, восстанавливая здоровый и свободный от бактерий воздушный поток.</p>
    <p>Благодаря воздействию тумана санифицирующего раствора, AIR+ улучшает гигиену всего салона транспортного средства, включая коврики и обивку. После проведения сеанса с AIR+ вы сможете сразу оценить этот эффект глубокой чистки наслаждаясь чистым и безопасным воздухом внутри автомобиля.</p>
    <h3>Что дает дезинфекция салона и кондиционера?</h3>
    <ul>
        <li>Уничтожение скапливающихся в салоне, а также в системе вентиляции и кондиционирования вредных микроорганизмов (бактерии, микробы) и микрофлоры (грибки, споры, плесень).</li>
        <li>Устранение неприятных запахов в салоне автомашины и из системы вентиляции и кондиционирования. После обработки в салоне ощущается запах свежего воздуха после грозы.</li>
        <li>Профилактика респираторных заболеваний, вызванных работой кондиционера, вентиляции или системы климат-контроля.</li>
    </ul>
    <p>AIR+ &#8212; полностью автоматический прибор для проведения комплексной санитарной обработки. Только AIR+ от компании ТЕХА может обеспечить проникновение реагента глубоко в радиатор системы кондиционирования воздуха для того, чтобы очистить его до необходимого уровня гигиены.</p>

</div>
