@using Diplom1.Helper
@{
    ViewBag.Title = "Диагностика тормозной системы";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2>Общая информация</h2>
    <p>Тормозная система – одна из важнейших систем, которая обеспечивает безопасность водителя и пассажиров автомобиля. Именно поэтому система торможения должна работать безукоризненно. При исправной тормозной системе, торможение автомобиля по нажатию на педаль вплоть до половины хода происходит плавно. Если вы заметили какие-либо неполадки в работе системы торможения, необходимо обратиться к специалистам станции технического обслуживания.</p>
    <p>Диагностика тормозной системы автомобиля должна проводиться при обнаружении каких-либо неполадок в работе тормозной системы, таких как:</p>
    <ul>
        <li style="text-align: justify;">Скрип или стук при торможении;</li>
        <li style="text-align: justify;">Пульсация тормозной системы;</li>
        <li style="text-align: justify;">Некорректная работа педали торможения;</li>
        <li style="text-align: justify;">Занос при торможении (увод автомобиля в сторону);</li>
        <li style="text-align: justify;">Неравномерный износ тормозных колодок, требующих <a href="~/Services/RemontTormozov/">ремонта</a>;</li>
        <li style="text-align: justify;">Отсутствие либо недостаток тормозной жидкости;</li>
        <li style="text-align: justify;">Горит ламопчка тормозной системы;</li>
    </ul>
    <p>Также диагностика должна проводиться в целях профилактики (каждые 10-15 тыс. км пробега) и при техническом осмотре.</p>
    <h2>Диагностика тормозной системы:</h2>
    <p>На станции технического обслуживания &#171;AirMotors&#187; в Малиновке специалистами проводится широкий спектр диагностических работ тормозов и тормозной системы в целом. Самые основные из них:</p>
    <ul>
        <li>Проверка наличия и качества тормозной жидкости;</li>
        <li>Проверка состояния  тормозных колодок, дисков, состояния тормозных суппортов, шлангов, барабанов, рычагов, механических соединений тормозной педали и др. элементов тормозного привода;</li>
        <li>Диагностика эффективности работы тормозов;</li>
        <li>Проверка работоспособности стояночного (ручного) тормоза, регулятора давления;</li>
        <li><a href="~/Services/CompDiagnostika">Компьютерная диагностика</a> тормозной системы;</li>
        <li>и другие работы в зависимости от неисправностей в тормозной системе.</li>
    </ul>
    <p>Диагностика системы торможения легковых автомобилей на СТО &#171;AirMotors&#187; производится на тормозном стенде компании-производителя CARTEC. Тормозной стенд предназначен для проверки и контроля эффективности рабочей и стояночной тормозных систем автомобилей и имеет следующие возможности:</p>
    <ul>
        <li>Измерение нагрузки на ось автомобиля, тормозную силу на всех колесах, а также усилие на органе управления;</li>
        <li>После диагностики вы получаете цветную распечатку результатов тестирования;</li>
        <li>Для удобства въезда и выезда тормозные ролики возвышаются.</li>
    </ul>
    <p>После осмотра системы автомобиля, мастера предлагают все возможные пути решения проблем, обнаруженных при проверке тормозной системы вашего автомобиля.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/diagnostika-tormozov-1.jpg", "Диагностика тормозной системы на тормозном стенде")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/diagnostika-tormozov-2.jpg", "Диагностика тормозной системы на тормозном стенде")
            </div>
        </div>
    </div>
</div>


