@using Diplom1.Helper
@{
    ViewBag.Title = "Диагностика подвески";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <h2>Общая информация</h2>
    <p>Подвеска &#8212; один из важнейших составных элементов автомобиля, который подвергается наиболее быстрому износу. Это объясняется большими нагрузками,
     которые выдерживает система ходовой части автомобиля. Подвеска обеспечивает устойчивость автомобиля на дороге, а также комфортность и маневренность езды.
     Именно поэтому систему ходовой части нужно поддерживать в отличном состоянии, проводить диагностику подвески, и, при необходимости,
     <a href="~/Services/RemontPodveski/">ремонт подвески</a>.</p>
    <p>Для поддержания системы ходовой части в хорошем состоянии, необходима полная диагностика подвески, в мероприятия которой входят: проверка состояния рамы,
     подрессорников, рессор, амортизаторов, колес,  шин и др.</p>
    <h2>Характерные неисправности подвески:</h2>
    <ul>
        <li>Увод автомобиля в сторону;</li>
        <li>Колебания кузова и раскачивание автомобиля при езде и поворотах;</li>
        <li>Вибрация при движении;</li>
        <li>Разнообразный стук и шум при езде;</li>
        <li>Неравномерный износ шин и тормозных колодок;</li>
        <li>Различные неисправности амортизаторов;</li>
        <li>И прочее;</li>
    </ul>
    <h2>Диагностика подвески:</h2>
    <ul>
        <li>Проверка передней и задней подвески автомобиля;</li>
        <li>Проверка состояния рамы и рессор;</li>
        <li>Проверка состояния амортизаторов, колес и дисков автомобиля;</li>
        <li>Проверка ступичных и опорных подшипников на наличие шумов и посторонних звуков;</li>
        <li>Определение уровня износа тормозных колодок автомобиля, дисков, барабанов, шлангов;</li>
        <li>При сильном износе шин – <a href="~/Services/RazvalShozhdenie/">проверка углов развал-схождения колес</a>;</li>
        <li>Осмотр пружин, рычагов;</li>
        <li>Проверка шаровых опор, рулевых наконечников, тяг;</li>
        <li>Проверка уровня масла и других технических жидкостей;</li>
        <li>Проверка герметичности тормозной системы и гидросистем автомобиля;</li>
    </ul>
    <p>
        Диагностика системы ходовой части автомобиля на СТО &#171;AirMotors&#187; в Минске производится высококвалифицированными специалистами, а в работе используется
        только новейшее оборудование импортных производителей.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/podveska1.jpg", "Диагностика подвески на автоподъемнике")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/podveska2.jpg", "Диагностика подвески на автоподъемнике")
            </div>
        </div>
    </div>
</div>
