@using Diplom1.Helper
@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}


            <div class="col-md-8 visible-md visible-lg">
                <div id="services-thumbs" class="row">
                    <div class="col-md-12">
                        <h2>Автокондиционеры</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/conditioner/">
                                <img src="~/img/services/conditioner.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Заправка, дезинфекция и обслуживание автокондиционеров</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h2>Диагностика и контроль</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/diagnostikatormozov/">
                                <img src="~/img/services/brembo.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Диагностика тормозной системы</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/DiagnostikaPodveski/">
                                <img src="~/img/services/podveska.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Диагностика подвески</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/CompDiagnostika/">
                                <img src="~/img/services/software.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Компьютерная диагностика</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RazvalShozhdenie/">
                                <img src="~/img/services/razval-3d.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Развал-схождение 3D</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h2>Ремонт и замена элементов</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RemontRulya/">
                                <img src="~/img/services/rul.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Ремонт рулевого управления</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RemontTormozov/">
                                <img src="~/img/services/tormoza-remont.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Ремонт тормозной системы</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RemontPodveski/">
                                <img src="~/img/services/podveska.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Ремонт подвески</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RemontKpp/">
                                <img src="~/img/services/kpp.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Ремонт или замена КПП, АКПП</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/RemontKpp/">
                                <img src="~/img/services/motor.png" class="img-responsive">
                                <div class="mask">
                                    <h4>Ремонт или замена ДВС</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h2>Техническое обслуживание</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/ZamenaMasla/">
                                <img src="~/img/services/maslo.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Замена масла и других технических жидкостей</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/ZamenaFiltrov/">
                                <img src="~/img/services/filter.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Замена фильтров в автомобиле</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-thumb">
                            <a href="~/Services/Shinomontazh/">
                                <img src="~/img/services/shina.jpg" class="img-responsive">
                                <div class="mask">
                                    <h4>Шиномонтаж</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            