@using Diplom1.Helper
@{
    ViewBag.Title = "Развал-схождение 3D";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <h2>Развал-схождение 3D</h2>
    <p>Развал-схождение  автомобиля &#8212; установленные углы между вертикалью, направлением движения и плоскостью вращения колес автомобиля. При некорректно установленных 
    углах развала-схождения многие системы автомобиля подвергаются преждевременному износу, а также увеличивается расход горючего и ухудшается сцепление автомобиля с дорогой (устойчивость).</p>
    <p>Перед началом регулировки развала-схождения нужно проверить, одинаковые ли покрышки и диски с обоих сторон оси, проверить давление в шинах, а также желательно выполнить
     <a href="~/Services/DiagnostikaPodveski/">диагностику подвески</a>.</p>
    <h2>Диагностика развала-схождения проводится:</h2>
    <ul>
        <li style="text-align: justify;">при регулярном техническом обслуживании (каждые 10-15 тыс. км);</li>
        <li style="text-align: justify;">после сезонной <a href="~/Services/Shinomontazh/">замены резины</a>;</li>
        <li style="text-align: justify;">после повреждений подвески, деформации покрышек и прочих ликвидированных неисправностей ходовой части;</li>
        <li style="text-align: justify;">при отклонении автомобиля в сторону во время езды;</li>
        <li style="text-align: justify;">были устранены <a href="~/Services/RemontRulya/">неисправности рулевого управления</a>;</li>
    </ul>
    <p>На станции технического обслуживания используется технология Развал-схождение 3D с применением стенда американской компании HUNTER. Стенд оснащен двумя оптическими камерами 
    (CCD) высокого разрешения, которые работают по принципу перспективы-ракурса, строят изображение углов схода-развала на основе меток-мишеней. Мишени крепятся за колесную резину, 
    а не диск, как во многих других стендах, что исключает вероятность повреждения внешнего покрытия диска и необходимость в снятии декоративных колпаков с диска.  Изображение с 
    камер передается компьютеру со специализированным программным обеспечением, который высчитывает угол отклонения осей колес автомобиля и предлагает пути решения для конкретного случая.</p>
    <p>Диагностика и установка углов схода-развала на СТО <a href="~/about/">&#171;AirMotors&#187;</a> в Минске производится профессионалами на профессиональном
     оборудовании, погрешность при установке углов осей колес которого меньше 0,1мм.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/razval1.jpg", "Развал-схожедние 3D на американском стенде \"HUNTER\"")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/razval2.jpg", "Стенд Развал-схожедние 3D HUNTER")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/razval3.jpg", "Стенд развал-схождение американского производителя \"HUNTER\"")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/razval4.jpg", "Развал-схожедние 3D на американском стенде \"HUNTER\"")
            </div>
        </div>
    </div>
</div>
