
@{
    ViewBag.Title = "Ремонт подвески";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2 style="text-align: justify;">Ремонт и замена элементов ходовой части</h2>
    <p style="text-align: justify;">Неисправности в системе ходовой части автомобиля влекут за собой ряд неблагоприятных последствий, которые приводят к дополнительным затратам 
    на обслуживание (ремонт подвески). В их число входят: нарушение выставленных углов развал-схождения колес, неравномерный износ протекторов покрышек, ухудшение управляемости 
    и устойчивости автомобиля на дороге и др. Поэтому при появлении каких-либо неисправностей, необходимо обращаться к специалистам станции технического обслуживания для проведения
     <a href="~/Services/DiagnostikaPodveski/">диагностики работы подвески</a> с последующим устранением неисправностей в системе ходовой части.</p>
    <p style="text-align: justify;">Важно: перед диагностикой подвески необходимо проверить одинаковые ли покрышки и диски, а также проверить давление в шинах!</p>
    <h2 style="text-align: justify;">Неисправности и ремонт подвески</h2>
    <p>Список характерных неисправностей ходовой части, которые требуют регулировки, ремонта либо замены деталей:</p>
    <ul>
        <li style="text-align: justify;">изгиб (деформация) балки, верхнего рычага, нижнего рычага, поперечины;</li>
        <li style="text-align: justify;">износ верхнего и нижнего шаровых пальцев, шарниров, резиновых втулок, шарниров, ступиц и др.;</li>
        <li style="text-align: justify;">поломка или просев пружин в подвеске;</li>
        <li style="text-align: justify;">ослабление крепления скоб, шарниров штанги стабилизатора;</li>
        <li style="text-align: justify;">амортизаторы вышли из строя;</li>
        <li style="text-align: justify;">значительный дисбаланс в колесах;</li>
        <li style="text-align: justify;">деформация шин и(или) дисков;</li>
        <li style="text-align: justify;">и другие.</li>
    </ul>
    <p>Станция технического обслуживания &#171;AirMotors&#187; оснащена всем необходимым инструментом и оборудованием для оказания комплекса услуг ремонта подвески:</p>
    <ul>
        <li>снятие, установка, сборка, разборка элементов и механизмов подвески;</li>
        <li>ремонт путем замены неисправных и(или) изношенных деталей и механизмов;</li>
        <li><a href="~/Services/Shinomontazh/">балансировка колес</a>;</li>
        <li>регулировка углов наклона оси поворота;</li>
        <li>регулировка <a href="~/Services/RazvalShozhdenie/">развал-схождения</a>;</li>
        <li>ремонт штоков;</li>
        <li>и другие услуги ремонта в зависимости от неисправностей системы;</li>
    </ul>
</div>


