
@{
    ViewBag.Title = "Ремонт или замена коробок передач (КПП, АКПП)";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <p>Ремонт коробок передач производится путем замены ее элементов , после тщательной диагностики неисправности. После снятия КПП в присутствии клиента производится дефектация
     коробки. Для принятия решения калькулируем стоимость ремонта, обсуждаем с клиентом целесообразность ремонта или замены КПП на б/у. Специалисты нашего СТО подберут необходимые
     для ремонта зап.части, а также помогу в поиске б/у КПП. После выполнения ремонта вашей КПП ,вы получаете гарантию нашего СТО на выполненную работу.</p>
</div>
