
@{
    ViewBag.Title = "Ремонт рулевого управления";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <h2>Ремонт рулевого управления</h2>
    <p>Система рулевого управления &#8212; составная система автомобиля, которая обеспечивает изменение направления автомобиля при вращении руля. Рулевое управление автомобиля
     состоит из рулевого привода и рулевого механизма. Рулевой привод состоит из маятникового и двух поворотных рычагов, средней и двух боковых тяг, сошки и других элементов. 
    Рулевой механизм &#8212; это узел, который объединяет червячную передачу, вал, рулевое колесо и рулевую колонку. Ремонт рулевого управления необходим сразу после обнаружения
     неисправности механизма, т.к. во многом безопасность езды зависит от этой системы.</p>
    <p>В случае замеченных неисправностей в работе рулевого управления, требуется немедленно обратиться к специалистам, провести диагностику всей системы и устранить неисправности 
    путем ремонта и(или) замены элементов.</p>
    <h2>Признаки неисправностей рулевого управления:</h2>
    <ul>
        <li>
            <strong>Увеличенный люфт руля</strong>
            <ul>
                <li>Износ либо повреждение шарниров в рулевой трапеции — замена изношенных деталей;</li>
                <li>Регулировка зацепления червяка нарушена — регулировка зазоров ролика и червяка;</li>
                <li>Износ подшипников в рулевом редукторе — замена подшипников;</li>
                <li>крепление вала сошки ослабло — затягивание крепления.</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <strong>Заедание рулевого механизма, тугое вращение руля</strong>
            <ul>
                <li>Некорректная регулировка рулевого механизма — регулировка зазоров пары червяк-ролик;</li>
                <li>Большой износ в ролике и червяке — замена рулевого механизма.</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <strong>Скрип, щелчки, тугое вращение в рулевом управлении</strong>
            <ul>
                <li>Снижен уровень жидкости (или жидкость отсутствует) в гидроусилителе — проверка герметичности сальников и залив жидкости;</li>
                <li>Разрушение рабочих поверхностей ролика и червяка — замена дефектных деталей;</li>
                <li>Ослабление крепления рулевого редуктора от лонжерона — проверка крепления, редуктора и лонжерона, замена деталей, если требуется, крепление редуктора на место.</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <strong>Преждевременный износ протектора шины</strong>
            <ul>
                <li>Износ шкворней &#8212; замена шкворней;</li>
                <li>Износ или повреждение шарниров &#8212; замена шарниров;</li>
                <li>Износ или повреждение втулок &#8212; замена втулок.</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><strong>Виляние передних колес автомобиля, п</strong><strong>оявление зазоров в соединениях рулевых тяг и прочее</strong></li>
    </ul>
    <p>&nbsp;</p>
</div>

