
@{
    ViewBag.Title = "Ремонт тормозной системы";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2>Общая информация</h2>
    <p>При некорректной работе тормозной системы и замеченных неисправностях нужно немедленно обратиться к специалистам станции технического обслуживания и провести полную
        <a href="~/Services/diagnostikatormozov/">диагностику</a>
        , а после выявления всех неисправностей в работе &#8212; ремонт системы торможения.
    </p>
    <p>Возможные неисправности тормозной системы:</p>
    <ul>
        <li>Скрип или стук при торможении;</li>
        <li>Пульсация тормозной системы;</li>
        <li>Некорректная работа педали торможения;</li>
        <li>Занос при торможении (увод автомобиля в сторону);</li>
        <li>Неравномерный износ тормозных колодок;</li>
        <li>Отсутствие либо недостаток тормозной жидкости;</li>
        <li>Горит ламопчка тормозной системы.</li>
    </ul>
    <p>После диагностики тормозной системы автомобиля, когда все неисправности и поломки в элементах тормозной системы определены, необходимо произвести ремонт и(или) замену полностью либо частично вышедших из строя деталей и механизмов системы торможения. Специалисты станции технического обслуживания &#171;AirMotors&#187; выполняют ремонтные работы любой сложности.</p>
    <h2>Ремонт тормозной системы включает:</h2>
    <ul>
        <li style="text-align: justify;">Разборка, сборка, прочистка элементов тормозной системы;</li>
        <li style="text-align: justify;">
            <div>Замена поврежденных деталей, элементов, механизмов;</div>
        </li>
        <li style="text-align: justify;">
            <div>Прокачка гидропривода тормозной системы;</div>
        </li>
        <li style="text-align: justify;">Залив тормозной жидкости до нормального уровня;</li>
        <li style="text-align: justify;">Восстановление герметичности (замена уплотнителя) емкостных элементов тормозной системы;</li>
        <li style="text-align: justify;">Регулировка вакуумного усилителя;</li>
        <li style="text-align: justify;">Регулировка стояночного тормоза;</li>
        <li style="text-align: justify;">Регулировка педали торможения;</li>
        <li style="text-align: justify;">И прочее.</li>
    </ul>
    <p>На СТО &#171;AirMotors&#187; используется самое современное инновационное оборудование и профессиональный инструмент зарубежных производителей. Все мастера прошли профессиональную подготовку для решения комплексных задач по диагностике и ремонту систем автомобилей.</p>
</div>

