
@{
    ViewBag.Title = "Ремонт или замена двигателя внутреннего сгорания";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <p>Двигатель автомобиля &#8212; это его сердце. Как и у человека оно должно работать ровно и переносить все возможные нагрузки. При этом ему требуется качественное питание:</p>
    <ul>
        <li>качественное топливо,</li>
        <li>качественное масло, которое необходимо своевременно менять,</li>
        <li>чистый воздух, чистоту которого обеспечивает воздушный фильтр и его своевременная <a href="~/Services/ZamenaFiltrov/">замена</a>.</li>
    </ul>
    <p>Получая все это, двигатель вашего автомобиля проработает долго, принося только положительные эмоции которые вы получите управляя своим автомобилем.</p>
    <p>При возникновении любых сбоев в работе двигателя необходимо обратиться к профессионалам, которыми являются автомеханики нашего СТО. Поиск неисправности начинается с 
    <a href="~/Services/CompDiagnostika/">диагностики</a>. И чем результативнее будет диагностика, тем проще будет принимать решение, что делать 
    с двигателем и сколько будет стоить ремонт. Ремонт двигателя производится путем замены его элементов, при этом осуществляются все сопутствующие работы необходимые при замене 
    этих элементов ( шлифовки, расточка, шарошка, притирка, регулировка и многое другое).</p>
    <p>Если после диагностики принимается решение о замене двигателя, то квалифицированные специалисты нашего СТО помогут осуществить поиск и выбор б/у двигателя. После ремонта или 
    замены двигателя наше СТО предоставляет гарантию на свою работу, а также предоставляет свои услуги по дальнейшему обслуживанию вашего автомобиля.</p>
</div>


