@using Diplom1.Helper
@{
    ViewBag.Title = "Шиномонтаж";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2>Шиномонтаж на СТО &#171;AirMotors&#187;</h2>
    <p>Повышенное внимание в техническом обслуживании вашего автомобиля должно уделяться шинам и их общему состоянию. Хорошее состояние покрышек &#8212; гарантия прочной сцепки вашего авто с 
    дорожным покрытием, что является основополагающим фактором обеспечения безопасности пассажиров и водителя при движении, поэтому также важно вовремя проводить сезонную замену резины.</p>
    <p>Мы производим замену резины как легковых, так и грузовых (с общей допустимой массой до 3.5 тонн) автомобилей. Услуги шиномонтажа на станции технического обслуживания &#171;AirMotors&#187; 
    включают:</p>
    <ul>
        <li style="text-align: justify;">Снятие и установка покрышек (с герметизацией покрышек гелем замка диска по ободу и подкачкой колес)</li>
        <li style="text-align: justify;">Балансировка колес (в том числе с измерением силовой неоднородности колеса и увода автомобиля)</li>
        <li style="text-align: justify;">Установка на шину латки, колышка, ремонтного шнурка и пр.</li>
        <li style="text-align: justify;">Чистка окалины со ступицей автомобиля и диска</li>
    </ul>
    <p>Все шиномонтажные работы СТО производятся с использованием новейшего импортного инструмента и инновационного балансировочного стенда HUNTER GSP9700, что исключает неточности при балансировке 
    и установке покрышек. Стенд позволяет не только вывести на экран компьютера информацию о дисбалансе колеса, но и сразу предоставляет пути решения конкретного случая.</p>
    <h2>Возможности стенда GSP9700</h2>
    <p>Балансировочный стенд GSP9700 &#8212; универсальный стенд для измерения боковых и радиальных воздействий, который дает нам точные пути решения по устранению проблем, таких как:</p>
    <ul>
        <li>увод автомобиля в сторону после замены резины,</li>
        <li>вибрация оставшаяся после балансировки колес, связанная с неоднородностью резины, которую не выявит обычный балансировочный станок, так как проверка проводится без нагрузки на колесо.</li>
    </ul>
    <p>Балансировочный станок GSP9700 и наши специалисты помогу вам в решении этих проблем, связанных с ходовой частью автомобиля. Одобренный ведущими производителями автомобилей стенд отлично 
    зарекомендовал себя во многих автосервисах по всему миру как лучшее оборудование для балансировки колеса и измерения боковых и радиальных сил увода шин.</p>
    <h3>Новейший стенд виброконтроля для легковых автомобилей премиум-класса</h3>
    <p>Стенд виброконтроля Hunter четвертого поколения Road Force Touch GSP9700 (читается Роуд Форс Тач) включает в себя все преимущества GSP9700 предыдущих поколений в сочетании со значительно
     возросшей скоростью цикла подключения нагрузочного ролика и удобством интерфейса с тачскрином.</p>
    <ul>
        <li>Прижимной ролик усилием до 567 кг проводит «драйв-тест» колеса до его установки на автомобиль с целью выявления вибраций возникающих из-за неоднородной жесткости шины или неправильной
         геометрии колеса, а также позволяет выявить проблемы с боковым уводом автомобиля.</li>
        <li>Изменение алгоритма работы прижимного ролика и применение новых технологий позволило сократить время диагностического цикла (по сравнению с GSP9700 предыдущих поколений 1998-2012 
        годов выпуска) до уровня при котором проверка может быть проведена без ущерба производительности станка.</li>
        <li>Обновленная компьютерная часть и 22-дюймовый монитор с разрешением FullHD гарантируют непревзойденную простоту в работе. Обучающие видеоролики уже запрограммированы в программном 
        обеспечении стенда. Полностью русскоязычный интерфейс.</li>
        <li>Система автоматической калибровки eCal гарантирует точность результатов. Не требуется вмешательство оператора.</li>
        <li>
            Защитный кожух оборудован системой сервопривода которая автоматически поднимает его по завершению цикла экономя время.<br />
            Новая система центровки BullsEye минимизирует погрешности вследствие ошибок центровки колеса.
        </li>
    </ul>
    <h3>Диагностика проблем недоступных обычным балансировочным стендам</h3>
    <p>Классические балансировочные стенды позволяют отбалансировать колесо вращающееся в воздухе. Некоторые стенды также позволяют измерить биение колеса с помощью лазера или ультразвукового датчика.</p>
    <p><strong>Стенд виброконтроля Hunter RFT обладает значительно большими возможностями благодаря способности измерения реальных сил возникающих в колесе при прокатывании колеса по дороге.</strong></p>
    <h3>Диагностика биения под нагрузкой и радиальных сил</h3>
    <p>Без применения нагрузочного ролика невозможно предсказать реальное поведение колеса на дороге. Внутренние дефекты строения корда могут быть либо не заметны на глаз, либо не проявляться без 
    нагрузки. В воздухе колесо может быть абсолютно круглым, но при движении могут обнаружится «жесткие» или «мягкие» места.</p>
    <p>Стенд Hunter RFT позволяет выявить такие проблемы, а также (после измерения геометрии диска) попытаться скомпенсировать эти проблемы.</p>
    <h3>Измерение и компенсация бокового увода StraightTrak</h3>
    <p>Без применения нагрузочного ролика также невозможно определить боковой увод. В случае если колесо имеет конусность то благодаря специальному тензометрическому датчику установленному на вал 
    стенда, в процессе диагностики с помощью нагрузочного ролика будет определено оптимальное расположение колес на автомобиле с целью минимизации бокового увода. Пользователь может выбрать из 
    нескольких вариантов в случае если резина не позволяет переставлять в произвольном порядке (если она направленная или асимметричная).</p>
    <h3>Измерение диаметра колеса TranzSaver</h3>
    <p>Нагрузочный ролик также позволяет измерить диаметр колеса в сборе, а специальная программная функция TranzSaver сравнивает полученные результаты по спецификациям производителей для 
    минимизации износа трансмиссий в полноприводных автомобилях и выводит на экран план оптимального размещения.</p>
    <h3>Технология балансировки SmartWeight</h3>
    <p>Защищенная патентом технология балансировки SmartWeight® позволяет уменьшить величины корректировочных грузиков и увеличить производительность по сранению с традиционными методами
     статического и динамического дисбаланса, обеспечивая при этом идеальную балансировку колеса.</p>
    <p>При балансировке легковых колес технология SmartWeight может снизить расход грузиков на 20%-40%, уменьшить время цикла от установки до снятия колеса и улучшить качество балансировки 
    за счет иного распределения допусков между статическим и парным дисбалансом.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/shina1.jpg", "Балансировочный стенд HUNTER")
            </div>
            <div class="col-lg-6 view view-tenth">
                @Html.Image("/img/services/shina2.jpg", "Балансировочный стенд HUNTER")
            </div>
        </div>
    </div>
</div>
