
@{
    ViewBag.Title = "Замена фильтров в автомобиле";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}

<div class="col-md-8">
    <h2>Как часто нужно менять фильтры в автомобиле?</h2>
    <h3>Замена топливного фильтра</h3>
    <p>Для каждого типа двигателей &#8212; карбюраторного, инжекторного, дизельного &#8212; существуют свои виды топливных фильтров. Так как качество топлива в наших условиях 
    оставляет желать лучшего, одной из самых распространенных неисправностей является загрязнение топливного фильтра. Пыль, ржавчина, вода и осадки из топливного бака не навредят
     двигателю, если в автомобиле своевременно заменен топливный фильтр. В связи с этим необходима его регулярная замена &#8212; через <b>каждые 25-40 тыс. км</b>.</p>
    <h3>Замена воздушного фильтра</h3>
    <p>Воздушный фильтр отвечает за очищение забортного воздуха, который поступает во впускной коллектор двигателя от пыли и других мелких частиц. Если замена воздушного фильтра
     не проводится вовремя (каждые 10-15 тыс. км или в установленные производителем сроки), увеличивается расход топлива, ухудшается динамика разгона и пр. Своевременная замена 
    воздушных фильтров может существенно улучшить производительность и продлить срок службы двигателя вашего автомобиля.</p>
    <h3>Замена масляного фильтра</h3>
    <p>Масляные фильтры подлежат замене одновременно с заменой масла. Кроме обычных фильтров, которые меняют полностью, существуют фильтрующие элементы, не требующие замены в 
    целом. Таким образом, компании–производители фильтров  стараются минимизировать влияние использованных фильтров на окружающую среду. В одной только Германии ежегодно заменяется 
    около 30 млн фильтров, из которых получается почти 15 тыс. тонн металлолома.</p>
    <h3>Замена салонных фильтров</h3>
    <p align="justify">На замене салонного фильтра экономить уж точно не стоит. Хотя регламентная замена салонного фильтра &#8212; <b>каждые 15-20 тыс. км</b>, менять его стоит
     иногда и чаще, желательно <b>два раза в год</b> со сменой сезона &#8212; на зиму и на лето. Потому что фильтр салона имеет свойство накапливать в себе аллергены и вредные бактерии, 
    которые при использовании кондиционера очень быстро размножаются и могут даже вызвать кашель или более серьёзные заболевания, в частности пневмонию. А также несвоевременная замена
     фильтра салона ведёт к запотеванию стёкол при пользовании отопителем и появлению неприятного запаха в автомобиле.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">Интервалы замены фильтров в автомобиле</th>
            </tr>
            <tr>
                <th>Тип фильтра</th>
                <th>Периодичность замены</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Топливный фильтр</td>
                <td rowspan="2">В соответствии с пробегом (устанавливается производителем, см. документацию)</td>
            </tr>
            <tr>
                <td>Воздушный фильтр</td>
            </tr>
            <tr>
                <td>Масляный фильтр</td>
                <td>Каждый раз при смене масла</td>
            </tr>
            <tr>
                <td>Фильтр салона</td>
                <td>Каждые 15-20 тыс. км (или чаще, если нарушена система кондиционирования: запотевание ветрового и других стекол и т.п.)</td>
            </tr>
        </tbody>
    </table>
</div>
