
@{
    ViewBag.Title = "Замена масла и других технических жидкостей в Минске";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="col-md-8">
    <h2>Общая информация</h2>
    <p>Регулярное техническое обслуживание &#8212; необходимые меры для продления срока службы автомобиля. Срок между ТО зависит от условия эксплуатации автомобиля: климат, местность,
     влажность, стиль вождения и др, но ориентироваться нужно на рекомендации производителя (необходимо ознакомиться с документацией или проконсультироваться со специалистами). Особое
     внимание при ТО должно уделяться техническим жидкостям, их наличию, состоянию и качеству.</p>
    <h3><strong>Моторное масло</strong></h3>
    <p>
        Совсем недавно регулярность замены моторного масла была продиктована самим рынком: моторное масло делилось на зимние и летние сорта, однако, с появлением всесезонных сортов 
        моторного масла, регулярность замены масла зависит от показаний одометра, несмотря на то, что масло необходимо <strong>менять минимум 1 раз в год</strong>.<br />
        Многие автомобилисты относят моторное масло к смазочным жидкостям, делая акцент только на одной его функции. Однако, моторное масло &#8212; это не только смазка пар трения,
         но и жидкость, способствующая легкому пуску двигателя при любых температурах, а также жидкость, отводящая тепло деталей двигателя.
    </p>
    <p>Выработка и загрязнение моторного масла вызвано многими причинами:</p>
    <ul>
        <li>холодный пуск двигателя при низких температурах;</li>
        <li>долгий прогрев и работ двигателя на холостом ходу (стоянка, пробки и прочее);</li>
    </ul>
    <p>В результате масло теряет свои смазочные свойства и разжижается, оседает на внутренних стенках двигателя и засоряет фильтры. Все эти негативные факторы способствуют снижению срока 
    службы масла вплоть до 50%, а фильтры изнашиваются намного быстрее. Поэтому необходимо следить за уровнем масла, а также не пренебрегать качеством моторного масла для вашего автомобиля.</p>
    <h3>Тормозная жидкость</h3>
    <p>Тормозная жидкость предназначена для передачи усилия от главного тормозного цилиндра к рабочим. Многие владельцы автомобилей не задумываются, что тормозную жидкость необходимо менять 
    (не просто доливать до нормального уровня, а полностью сливать и менять) не менее одного раза в два года. Это объясняется тем, что внешний вид тормозной жидкости не меняется долгое время:
     жидкость остается светлой. Но не смотря на это, со временмм тормозная жидкость накапливает в себе воду из амтосферы через компенсационное отверстие крышки бачка.</p>
    <p>Вода в тормозной жидкости приводит к понижению порога закипания ниже минимально допустимого уровня (170 градусов), а также к быстрому корродированию металлов тормозной системы (элементы
     тормозной системы плохо смазываются и быстро выходят из строя). Именно поэтому важно регулярно проводить <a href="~/Services/diagnostikatormozov/">диагностику 
        тормозной системы</a>, проверять наличие и состояние тормозной жидкости и менять её своевременно.</p>
    <h3>Рабочая жидкость гидропривода сцепления</h3>
    <p>В гидроприводе сцепления используется жидкость, которую заливают и в тормозную систему. Это означает, что замена рабочей жидкости системы гидропривода сцепления должно проходить с той же
     периодичностью, что и в тормозной системе &#8212; не меньше одного раза в два года.</p>
    <h3>Охлаждающая жидкость</h3>
    <p>Охлаждающая жидкость &#8212; это жидкость, которая предохраняет систему охлаждения в двигателе от коррозии и термохимических разрушений. Она состоит из воды и этиленгликоля (незамерзающий
     элемент), а также специальных примесей с защищающими свойствами. Жидкость меняется по мере потери своих свойств или раз в 3-4 года.</p>
    <h3>Жидкость гидроусилителя рулевого управления</h3>
    <p>Жидкость в системе гидроусилителя рулевого управления, как правило, не меняют в течение всего срока эксплуатации, т.к. производитель обычно гарантирует минимум 100 тыс. км пробега
     автомобиля. Однако, если жидкость в бачке гидроусилителя рулевого управления сильно потемнела или загрязнилась &#8212; ее следует заменить. Важно регулярно проверять состояние жидкости ГУР во 
    избежание лишних проблем в системе рулевого управления.</p>
    <h3>Масло в КПП</h3>
    <p>Масло в коробках передач используется для смазывания зубчатых редукторов как в механической, так и в автоматической коробке. Замена масла в АКПП рекомендуется через каждые 60-80 
    тыс. км, если иное не установлено изготовителем автомобиля. На СТО &#171;AirMotors&#187; производится аппаратная замена масла, что обеспечивает полную очистку от старого масла, удаление 
    отложений в конвекторе, гидротрансформаторе, магистралях охлаждения и магистралях АКПП, что невозможно при замене масла через сливное отверстие (обычная замена). При обычной замене масла, в
     коробке остается половина старой жидкости и не происходит очищение от отложений, что снижает эффективность замены. Для замены масла в АКПП производится вскрытие автоматической коробки передач, 
    очистка емкости от действующего масла, замена фильтра и залив нового масла.</p>
</div>

